Backend/node_modules
Backend/BD
Backend/dist
Backend/.env
Backend/generated/prisma
Backend/teste

Frontend/node_modules
Frontend/BD
Frontend/dist
Frontend/.env
Frontend/generated/prisma
Frontend/teste